@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;400;500&family=Lato:wght@100;300&display=swap');

.kanban {
	display: flex;
	padding: 30px;
	margin-left: 8%;
	width: 80%;
	background: #009578;
	border-radius: 5px;
}

.kanban * {
	font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.kanban__column {
	flex: 1;
}

.kanban__column:not(:last-child) {
	margin-right: 30px;
}

.kanban__column-title {
	font-family: "Arima Madurai", cursive;
	margin-bottom: 20px;
	font-size: 30px;
	color: white;
	user-select: none;
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone-active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.item__category {
	border-radius: 7px;
	width: 20%;
	height: 18px;
	font-weight: 300;
	font-size: xx-small;
}

.item__category:not(:last-child) {
	margin-right: 5px;
}

#cat__mebic {
	background-color: #d2f0d2;
}

#cat__home {
	background-color: #e1fdff;
}

#cat__delhi {
	background-color: #AFEEEE;
}

#cat__work {
	background-color: #FFE4E1;
}

#cat__code {
	background-color: #FFFACD;
}

.category__div {
	width: 100%;
	padding-top: 2%;
	display: flex;
}
